.org {
  color: $colorGray;

  hr {
    background: #E5E5E5;
    height: 1px;
    border: none;
    margin: 32px 0;
  }

  h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: $colorBlack;
  }

  h2 {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    //width: 300px;
    //letter-spacing: 1px;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
  }

  .org_row {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;

    .twin_col {
      grid-column: 1/3;
      display: flex;
      flex-wrap: nowrap;

      svg {
        margin-left: 16px;
      }
    }
    .org_info_mt{
      margin-top: 24px;
    }

    .ogr_name {
      margin: 24px 0 0 0;
      svg{
        margin-left: 12px;
      }
    }
    a{
      color: $colorGreen;
    }
  }

  .org_label {
    font-weight: 200;
  }

  .img_gallery{
    display: flex;
    flex-wrap: wrap;

    .img_container{
      position: relative;
      width: 160px;
      margin-right: 24px;
     // height: 204px;

      img{
        width: 100%;
        object-fit: cover;
      }
      .icon_close{
        position: absolute;
        top:8px;
        right: 8px;
      }
      p{
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        line-height: 16px;
        &.img_name{
          margin-top: 8px;
          margin-bottom: 0;
        }
        &.img_date{
          margin-top: 4px;
          color: #808080;
        }
      }
    }
  }
}