.side_panel{
  //background-color: #F7F7F7;
  background: linear-gradient(90deg, #F7F7F7 0%, #F7F7F7 90%, rgba(0, 0, 0, 0.072) 100%);
  width: 224px;

  .side_panel_top{
    text-align: center;
    margin: 20px auto;
    text-transform: uppercase;
    font-style: normal;
    color: #3B3B3B;
    grid-column: 1/3;

    h1{
      font-size: $myFontSize;
      font-weight: 700;
      line-height: 160%;
      letter-spacing: 0.03em;
    }
    p{
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 160%;
      letter-spacing: 0.2px;
      margin-top: 2px;
    }
  }
  .side_panel_main{
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: unset;
    align-items: center;
    height: 44px;
    background-color: #EEEEEE;
    p{
      margin-left: 12px;
      color: $colorGreen;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
    svg{
      margin-top: 4px;
    }

  }
}